@font-face {
  font-family: 'Rubik-Bold';
  src: url('../../../web-fonts/Rubik-Bold/Rubik-Bold.eot');
  src: url('../../../web-fonts/Rubik-Bold/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../web-fonts/Rubik-Bold/Rubik-Bold.woff2') format('woff2'),
  url('../../../web-fonts/Rubik-Bold/Rubik-Bold.woff') format('woff'),
  url('../../../web-fonts/Rubik-Bold/Rubik-Bold.ttf') format('truetype'),
  url('../../../web-fonts/Rubik-Bold/Rubik-Bold.svg#Rubik-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('../../../web-fonts/Rubik-Medium/Rubik-Medium.eot');
  src: url('../../../web-fonts/Rubik-Medium/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../../web-fonts/Rubik-Medium/Rubik-Medium.woff2') format('woff2'),
  url('../../../web-fonts/Rubik-Medium/Rubik-Medium.woff') format('woff'),
  url('../../../web-fonts/Rubik-Medium/Rubik-Medium.ttf') format('truetype'),
  url('../../../web-fonts/Rubik-Medium/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url('../../../web-fonts/Rubik-Regular/Rubik-Regular.eot');
  src: url('../../../web-fonts/Rubik-Regular/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../../web-fonts/Rubik-Regular/Rubik-Regular.woff2') format('woff2'),
  url('../../../web-fonts/Rubik-Regular/Rubik-Regular.woff') format('woff'),
  url('../../../web-fonts/Rubik-Regular/Rubik-Regular.ttf') format('truetype'),
  url('../../../web-fonts/Rubik-Regular/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

