@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.eot?jowxwy);
    src: url(../fonts/icomoon.eot?jowxwy#iefix) format('embedded-opentype'), url(../fonts/icomoon.ttf?jowxwy) format('truetype'), url(../fonts/icomoon.woff?jowxwy) format('woff'), url(../fonts/icomoon.svg?jowxwy#icomoon) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: block
}

[class*=" icon-"], [class^=icon-] {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-message:before {
    content: "\e900";
}
.icon-phone-outgoing:before {
    content: "\e901";
}
.icon-phone-missed:before {
    content: "\e902";
}
.icon-phone-call:before {
    content: "\e903";
}
.icon-phone:before {
    content: "\e904";
}
.icon-info:before {
    content: "\e905";
}
.icon-users:before {
    content: "\e906";
}
.icon-patient:before {
    content: "\e907";
}
.icon-pressure:before {
    content: "\e908";
}
.icon-missed-call:before {
    content: "\e909";
}
.icon-region:before {
    content: "\e90a";
}
.icon-dashboard:before {
    content: "\e90b";
}
.icon-logo-name:before {
    content: "\e90c";
    color: #fff;
}
.icon-logo:before {
    content: "\e90d";
    color: #009792;
}
.icon-arrow-down:before {
    content: "\e90e";
}
.icon-edit:before {
    content: "\e90f";
    color: #009792;
}
.icon-coronavirus:before {
    content: "\e910";
}
.icon-temperature:before {
    content: "\e911";
}
.icon-pressure-green:before {
    content: "\e912";
    color: #009792;
}
.icon-map:before {
    content: "\e913";
}
.icon-clock:before {
    content: "\e914";
    color: #009792;
}
.icon-search:before {
    content: "\e915";
    color: #009792;
}
.icon-logout:before {
    content: "\e916";
    color: #fff;
}
